*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    display: block;
    transition: all 0.4s ease-in-out;
}


:root {
    scroll-behavior: smooth;
    --head-height: 4rem;
    --side-size: 0rem;
    --menu-size: 20vw;
    --main-font: "Century Gothic";
}

body{
    height: 100vh;
    display: grid;
    grid-template-areas:
        "head head"
        "side main";
    grid-template-rows: var(--head-height) auto;
    grid-template-columns: var(--side-size) auto;
}

header{
    grid-area: head;
    display: flex;
    background-color: #000000;
}

.upper_menu{
    align-items: end;
    justify-content: right;
    width: 100%;
    display: flex;
}

.upper_menu>button{
    background-color: #000000;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 300;
    min-height: 100%;
    height: auto;
    margin-right: 3%;
    color: #fff;
    display: inline;
    transition: 0.8s;
    cursor: pointer;
}

.menu{
    background-color: #00000000;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 39px;
    font-weight: bolder;
    max-height: 100%;
    height: auto;
    color: #fff;
    display: inline;
    transition: 0.8s;
    cursor: pointer;
    margin-left: 4vh;
}

.upper_menu>button:hover{
    height: 100%;
    transform: translateY(-15%);  
    text-shadow: 0px 3px 10px #fff;
}

.logIn{
    color: #ff0000;
}

.menu.active{
    background-color: #00000000;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 39px;
    font-weight: bolder;
    max-height: 100%;
    height: auto;
    color: #fff;
    display: inline;
    transition: 0.8s;
    cursor: pointer;
    margin-left: 4vh;
    transform: rotateZ(90deg);
}

.side_bar{
    grid-area: side;
    overflow-y: auto;
    border: 2px solid gray;
}