*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --head-height: 4rem;
    --side-size: 0rem;
    --menu-size: 20rem;
    --main-font:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "side main";
    grid-template-columns: var(--side-size) 1fr;
    overflow: hidden;
    transition: grid-template-columns 0.4s ease-in-out;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--head-height);
    background-color: #000;
    color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.upper_menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.upper_menu > button,
.upper_menu > input {
    background-color: transparent;
    border: 0;
    font-family: var(--main-font);
    font-size: larger;
    font-weight: 300;
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
    transition: transform 0.4s, text-shadow 0.4s;
}

.upper_menu > button:hover,
.upper_menu > input:hover {
    transform: translateY(-10%);
    text-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
}

.menu {
    background-color: transparent;
    border: 0;
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: transform 0.4s;
}

.menu.active {
    transform: rotate(90deg);
}

.side_bar {
    grid-area: side;
    overflow-y: auto;
    height: calc(100vh - var(--head-height));
    margin-top: var(--head-height);
    border-right: 2px solid gray;
    transition: width 0.4s ease-in-out;
    width: var(--side-size);
    overflow-x: hidden;
}

fieldset{
    margin-top: 3%;
}

#timeLine{
    margin: 10% 10%;
}

#timeMark{
    margin: 10% 40%;
}